html{
  background: #3AAFA9;
  height: 100vh;
}

body{
  margin: 0 auto;
}

button{
  border: none;
}

span{
  font-size: 1.4em;
  display: inline;
}
button:hover{
  background-color: #DEF2F1;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:focus{
  outline: 0;
}
button:active{
  transform: scale(0.8);
  transition-duration: 0.03s;
}

.pageTitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  color: #FEFFFF;
  margin-top: 20px;
  margin-bottom: 30px;
}

.computerScore, .playerScore {
  color: #FEFFFF;
}

.restart{
  background-color: #FEFFFF;
  border-radius: 5px;
  height: auto;
  width: auto;
  font-size: 2.5rem;
}

.rock{
  background-image: url('images/rock.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 93%;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin: 0px 20px 0px 20px;
}

.paper{
  background-image: url('images/paper.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 93%;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin: 0px 20px 0px 20px;
}

.scissors{
  background-image: url('images/scissors.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 93%;
  background-color: #DEF2F1;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin: 0px 20px 0px 20px;
}

.buttons{
  text-align: center;
  position: fixed;
  bottom: 6vh;
  width: 100%;
}

.restartButton{
  text-align: center;
  position: fixed;
  bottom: 6vh;
  width: 100%;
}

.scores{
  text-align: center;
}

.player{
  height: auto;
  width: 40%;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #17242A;
}
.computer{
  height: auto;
  width: 40%;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #17242A;
}

@media screen and (max-width: 740px) {
  .playerSelection, .computerSelection {
    height:6em;
  }

  .rock, .paper, .scissors{
    height: 5em;
    width: 5em;
  }

  .pageTitle{
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .pageTitle{
    font-size: 2em;
  }
  .playerSelection, .computerSelection {
    height:5em;
  }
  .rock, .paper, .scissors{
    height: 4em;
    width: 4em;
  }
  .buttons, .restartButton {
  bottom: 5vh;
  }
}

.rounds{
  color: #17242A;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

.rounds.result {
  color: #FEFFFF;
}

.finalResult{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}